.header{
    background-color: rgb(250, 250, 250);
    border-width: 200cm;
    text-align: center;
    font-size: 50px;
}

.body-section {
    background-image: url(https://i.pinimg.com/564x/5d/06/e6/5d06e6390c9a1cf9b8912261beccf945.jpg);
    background-repeat: repeat;
    padding: 10px;
}

.description {
    background-color: lightgreen;
    border-radius: 50px;
    border:5px 
    dashed white;  
}

.steps {
    background-color: lightgreen;
    border-radius: 50px;
    border:5px 
    dashed white;  
}

.lasagna-Ingredients {
    background-color: lightgreen;
    list-style-type: circle;
    border-radius: 50px;
    border:5px 
    dashed white;

}

.image img{
    /* this is how you center an image in css */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*-------*/
    border-radius: 20%;
    height: 500px;
    border:5px 
    solid white;
    padding: 10px;
}

body {
    font-size: 12px;
}

.readmore-border {
    border:5px
    solid white;
    width: 70px;
    float: right;
    margin-right: 2cm;
}

.text-box {
    background-color: lightgreen;
    border:5px 
    dashed white;
    margin-left: 7cm;
    margin-top: 2cm;
    width: 12cm;
}

.lasagna-img {
    margin-right: 15cm;
    margin-bottom: 20cm;
    background-color:aqua;
    
}

.lasagna-box {
    display:inline-block;
    margin: 0 100px;
    background-color: lightgreen;
    border:5px; 
    border:5px 
    dashed white;
}
.pizza-img {
    float: left;
    margin-top: -0.5cm;
    background-color:aqua;
}

.pizza-box {
    display:inline-block;
    margin: 0 100px;
    background-color: lightgreen;
    border:5px; 
    border:5px 
    dashed white;
}

.macroniandpasta-img {
    float: left;
    margin-bottom: 2cm;
    background-color:aqua;
    
    resize: 30px;
}

.macaroniandpasta-box {
    display:inline-block;
    margin: 0 100px;
    background-color: lightgreen;
    border:5px; 
    border:5px 
    dashed white; 
}

.homepage-box {
    display:inline-block;
    margin: 0 100px;
    background-color: lightgreen;
    border:5px; 
    border:5px 
    dashed white; 
}

